@import "variables";

.buttons {
  position: absolute;
  right: 32px;
  bottom: 24px;
  z-index: $z-index-buttons;

  padding: 4px;

  &.black {
    background-color: $color-translucent-black;
  }

  &.white {
    background-color: $color-translucent-white;
  }

  // Animated properties.

  transition: opacity 180ms $easeInOutQuad,
      transform 150ms $easeInOutQuad;

  opacity: 0.0;
  transform: scale(0.3) translate(0, 80px);

  &.visible {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}
