@import "variables";

.buttons {
  position: absolute;
  right: 32px;
  bottom: 24px;
  z-index: $z-index-buttons;

  padding: 4px;

  &.black {
    background-color: $color-translucent-black;
  }

  &.white {
    background-color: $color-translucent-white;
  }
}
