@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src:
		local('Poppins Bold'),
		local('Poppins-Bold'),
		/* from https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2 */
		url('fonts/Poppins_700.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff */
		url('fonts/Poppins_700.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlEQ.eot */
		url('fonts/Poppins_700.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1xlEg&skey=cea76fe63715a67a&v=v6#Poppins */
		url('fonts/Poppins_700.svg#Poppins') format('svg'),
		/* from https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf */
		url('fonts/Poppins_700.ttf') format('truetype');
}