@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: normal;
	src:
		local('Space Mono'),
		local('SpaceMono-Regular'),
		/* from https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2 */
		url('fonts/Space_Mono.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8Qw.woff */
		url('fonts/Space_Mono.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8QQ.eot */
		url('fonts/Space_Mono.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=i7dPIFZifjKcF5UAWdDRYEF8Qg&skey=5e801b58db657470&v=v4#SpaceMono */
		url('fonts/Space_Mono.svg#SpaceMono') format('svg'),
		/* from https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8QA.ttf */
		url('fonts/Space_Mono.ttf') format('truetype');
}
