@import "z-indexes";

@import "fonts/Space_Mono";
@import "fonts/Material_Icons";

@import "@material/icon-button/mdc-icon-button";

:root {
  --family-body: "Space Mono";
}

.buttons {
  position: absolute;
  right: 32px;
  bottom: 24px;
  z-index: $z-index-buttons;

  padding: 4px;

  background-color: var(--color-translucent-black);
}

.settings,
.settings-shade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.settings-shade {
  z-index: $z-index-settings-shade;

  background-color: var(--color-translucent-white);
}

.settings {
  z-index: $z-index-settings;
}

.settings-inner {
  overflow-x: hidden;
  overflow-y: auto;

  display: block;
  min-width: 600px;
  max-width: 80%;
  height: 70%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--shadow-base);
  box-shadow: 0 8px 64px var(--shadow-main),
    0 64px 256px var(--shadow-secondary);

  font-family: var(--family-body);
  font-size: 16px;
  color: white;
}