@import "fonts/Poppins";

@import "variables";

* {
    box-sizing: border-box;
    all: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
}

base, basefont, datalist, head, meta, script, style, title, noembed, param, template {
    display: none;
}

html,
body,
.background {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 300ms ease-in;
    opacity: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-background;

    background-size: cover;
}

.container {
    z-index: $z-index-container;

    display: inline-flex;
    flex-direction: row;
    height: 128px;
    padding: 36px;
    margin: auto;

    transition: opacity 200ms $easeInOutQuad,
            transform 180ms $easeInOutQuad,
            --gradient-main 200ms $easeInOutQuad,
            --gradient-secondary 200ms $easeInOutQuad;
    background-image: linear-gradient(45deg, var(--gradient-main), var(--gradient-secondary));
    opacity: 1;
    transform: scale(1);
    
    box-shadow: 0 4px 32px var(--shadow-main),
        0 32px 128px var(--shadow-secondary);

    &:hover {
        opacity: 0.8;
        transform: scale(0.97);
    }
}

.divider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 64px;
    height: 128px;
}

.divider-child {
    width: 24px;
    height: 24px;

    border-radius: 12px;
    background-color: white;
    transition: 300ms ease-in-out;
    opacity: 1;
    transform: scale(1);

    &.dim {
        opacity: 0.6;
        transform: scale(0.9);
    }
}

.time {
    font-family: $family-title;
    font-size: 128px;
    line-height: 128px;
    color: white;
}

.root {
    z-index: $z-index-root;

    // Overwritten in entry_extras.ts
    display: none;
}